.blogDetail  {
    color: white;
}

.blogDetail h1 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: bold;
}

.blogDetail h2 {
    margin-bottom: 0.75rem;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-weight: bold;
}

.blogDetail p {
    margin-bottom: 0.75rem;
    text-align: justify;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.blogDetail ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.blogDetail ol {
    list-style-type: decimal;
    padding-left: 2rem;
}

.blogDetail a {
    text-decoration-line: underline;
}

.blogDetail p img {
    margin: auto;
}
