.blog  {
    color: white;
    text-align: justify;
}

.blog h1 {
    color: white;
}

.blog h2 {
    color: white;
}

.blog h3 {
    color: white;
}

.blog h4 {
    color: white;
}

.blog h5 {
    color: white;
}

.blog a {
    color: lightblue;
    text-decoration: underline;
}

.blog strong {
    color: white;
}

.blog b {
    color: white;
}

.blog blockquote {
    color: white;
}

.blog th {
    color: white;
    font-weight: 600;
}

.blog code {
    color: gray;
}
